.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
animations/*
.vscode/
*.DS_Store

# Rstudio Password Info
secret.env

# Personal Docker Settings
docker-compose.override.yaml

# Data
*.nc
*.ipynb_checkpoints*
*.csv
*.docx
*tif
*tfw


# Data folders
NCA_Fig21.4_Metadata/*
annual_anomalies/*
annual_observations/*
daily_climatologies/*
regional_timeseries/*
docs/*
local_data/*
fig_testing/*
notebooks/testing_data/
R/markdown_reports/local_report_data/
R/markdown_reports/tech_report_imgs/
R/MODIS/
big_data/

# Prefect configs
.prefect/
.prefect
notebooks/oisst_prefect.py

# notbook cache data
notebooks/.cache*
notebooks/.local*
notebooks/.jupyter*
notebooks/.config*
notebooks/.ipython*
notebooks/__pycache__
notebooks/nb_testing_data/

# rmarkdown intermediate files
R/GOM_Report_files/*
R/markdown_reports/seasonal_update_figs/*
R/markdown_reports/GOM_Annual_Report_files/*
R/markdown_reports/GOM_Seasonal_Update_files/*
R/markdown_reports/Openspaces_data/*

# Powerpoint Documentation
mainstays_overview.pptx
~$mainstays_overview.pptx
